<div class="row justify-content-md-center py-5 soft-purple mb-3">
    <h2 class="display-4 text-light">Create a new product</h2>
</div>

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path %>
